@mixin transit($prop, $time: 0.3s) {
    transition-property: #{$prop};
    transition-duration: $time;
}

@mixin hover() {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    &:active {
        @content;
    }
}

@mixin propotional-size($ratio: 1, $object-fit: scale-down) {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: $ratio * 100%;
    }

    img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: $object-fit;
    }
}
