
$icon-arrow-rounded-width: 18px;
$icon-arrow-rounded-height: 12px;
$icon-burger-width: 33px;
$icon-burger-height: 22px;
$icon-chicken-decor-width: 199px;
$icon-chicken-decor-height: 79px;
$icon-cow-decor-width: 230px;
$icon-cow-decor-height: 95px;
$icon-fb-width: 16px;
$icon-fb-height: 28px;
$icon-fish-decor-width: 146px;
$icon-fish-decor-height: 76px;
$icon-instagram-width: 25px;
$icon-instagram-height: 24px;
$icon-pork-decor-width: 227px;
$icon-pork-decor-height: 86px;
$icon-products-decor-width: 413px;
$icon-products-decor-height: 108px;
$icon-products-top-width: 1920px;
$icon-products-top-height: 197px;
$icon-to-top-arrow-width: 25px;
$icon-to-top-arrow-height: 22px;
$icon-to-top-btn-border-width: 48px;
$icon-to-top-btn-border-height: 192px;
$icon-vk-width: 19px;
$icon-vk-height: 22px;

.symbol-arrow-rounded {
  width: $icon-arrow-rounded-width;
  height: $icon-arrow-rounded-height;
}

.symbol-burger {
  width: $icon-burger-width;
  height: $icon-burger-height;
}

.symbol-chicken-decor {
  width: $icon-chicken-decor-width;
  height: $icon-chicken-decor-height;
}

.symbol-cow-decor {
  width: $icon-cow-decor-width;
  height: $icon-cow-decor-height;
}

.symbol-fb {
  width: $icon-fb-width;
  height: $icon-fb-height;
}

.symbol-fish-decor {
  width: $icon-fish-decor-width;
  height: $icon-fish-decor-height;
}

.symbol-instagram {
  width: $icon-instagram-width;
  height: $icon-instagram-height;
}

.symbol-pork-decor {
  width: $icon-pork-decor-width;
  height: $icon-pork-decor-height;
}

.symbol-products-decor {
  width: $icon-products-decor-width;
  height: $icon-products-decor-height;
}

.symbol-products-top {
  width: $icon-products-top-width;
  height: $icon-products-top-height;
}

.symbol-to-top-arrow {
  width: $icon-to-top-arrow-width;
  height: $icon-to-top-arrow-height;
}

.symbol-to-top-btn-border {
  width: $icon-to-top-btn-border-width;
  height: $icon-to-top-btn-border-height;
}

.symbol-vk {
  width: $icon-vk-width;
  height: $icon-vk-height;
}

